@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.homeScreen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    font-size: 8rem;
    margin: 0;
    text-align: center;
  }

  .subTitle {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin: 0 !important;
  }
}
